<div id="<%= dom_id proyecto %>">
  <p>
    <strong>Name:</strong>
    <%= proyecto.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= proyecto.desc %>
  </p>

  <p>
    <strong>Fecha i:</strong>
    <%= proyecto.fecha_i %>
  </p>

  <p>
    <strong>Fecha t:</strong>
    <%= proyecto.fecha_t %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= proyecto.estado %>
  </p>

</div>
